.container a {
  color: #0070f3;
  text-decoration: none;
}

.container a:hover,
.container a:focus,
.container a:active {
  text-decoration: underline;
}

.container {
  margin: auto;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
}
